In [26]:
import pandas as pd

In [27]:
datafile="/content/WineQT.csv"
data=pd.read_csv(datafile)
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [28]:
data=data.drop(['Id'], axis=1)
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [29]:
mean=pd.DataFrame(data=data.mean())
mean=pd.DataFrame.transpose(mean.rename(columns={0: "mean"}))

In [30]:
median=pd.DataFrame(data=data.median())
median=pd.DataFrame.transpose(median.rename(columns={0: "median"}))

In [31]:
min=pd.DataFrame(data=data.min())
min=pd.DataFrame.transpose(min.rename(columns={0: "min"}))

In [32]:
max=pd.DataFrame(data=data.max())
max=pd.DataFrame.transpose(max.rename(columns={0: "max"}))

In [33]:
variance=pd.DataFrame(data=data.var())
variance=pd.DataFrame.transpose(variance.rename(columns={0: "variance"}))

In [34]:
standardDeviation=pd.DataFrame(data=data.std())
standardDeviation=pd.DataFrame.transpose(standardDeviation.rename(columns={0: "standard deviation"}))

In [35]:
skewness=pd.DataFrame(data=data.skew())
skewness=pd.DataFrame.transpose(skewness.rename(columns={0: "skewness"}))

In [36]:
kurtosis=pd.DataFrame(data=data.kurtosis())
kurtosis=pd.DataFrame.transpose(kurtosis.rename(columns={0: "kurtosis"}))

In [37]:
result = pd.concat([mean, median, min, max, variance, standardDeviation, skewness, kurtosis])
result

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
mean,8.311111,0.531339,0.268364,2.532152,0.086933,15.615486,45.914698,0.996730,3.311015,0.657708,10.442111,5.657043
median,7.900000,0.520000,0.250000,2.200000,0.079000,13.000000,37.000000,0.996680,3.310000,0.620000,10.200000,6.000000
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000
variance,3.054088,0.032268,0.038685,1.838512,0.002234,105.072466,1074.668067,0.000004,0.024544,0.029036,1.171147,0.649353
standard deviation,1.747595,0.179633,0.196686,1.355917,0.047267,10.250486,32.782130,0.001925,0.156664,0.170399,1.082196,0.805824
skewness,1.044930,0.681547,0.371561,4.361096,6.026360,1.231261,1.665766,0.102395,0.221138,2.497266,0.863313,0.286792
kurtosis,1.384614,1.375531,-0.714686,27.675366,47.078324,1.932170,5.098748,0.888123,0.925791,12.017377,0.221179,0.314664